{% extends 'base.html.twig' %}

{% block title %}{{ 'contact.contact' | trans }}{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <div class="container border">
            <div class="row">
                <div class="col">
                    <h1>{{ 'contact.contact' | trans }}</h1>
                    <p>{{ 'contact.forContact' | trans }} :</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><i class="fas fa-phone-alt"></i> {{ 'contact.phone' | trans }} </p>
                </div>
                <div class="col">
                    <p><i class="fas fa-envelope"></i> {{ 'contact.email' | trans }} </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
