<nav class="navbar navbar-expand-lg navbar-dark custom-bg-bleue sticky-top ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse cutom-left-animation" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-1">
                <a class="nav-link  custom-home"
                   href={{ path('home') }}>
                    <i class="fas fa-home">
                        {{ 'home.home' | trans }}
                    </i>
                </a>
            </li>
            <li class="nav-item mx-1">
                <a class="nav-link {% if app.request.attributes.get('_route') == "contact" %}active {% endif %}"
                   href={{ path('contact') }}>
                    <i class="far fa-id-card"></i>
                    {{ 'contact.contact' | trans }}
                </a>
            </li>
            <li class="nav-item dropdown mx-1">
                <a class="nav-link dropdown-toggle"
                   href="#" id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fas fa-tasks"></i> {{ 'navbar.miniProjects' | trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item {% if app.request.attributes.get('_route') == "project_new" %}active {% endif %}"
                           href={{ path('project_new') }}>{{ 'navbar.addProject' | trans }}
                        </a>
                    {% endif %}
                    <a class="dropdown-item {% if app.request.attributes.get('_route') == "project_list" %}active {% endif %}"
                       href={{ path('project_list') }}>{{ 'navbar.listProjects' | trans }}
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown mx-1">
                <a class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') == "set_locale" %}active {% endif %}"
                   href="#" data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <span class="flag-icon flag-icon-us"> </span>
                    <i class="fas fa-globe-europe"></i>
                    {{ 'navbar.language' | trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown09">
                    <a class="dropdown-item {% if app.request.locale == "fr" %}active {% endif %}"
                       href="{{ path('set_locale', {
                        'lastRoute': app.request.attributes.get('_route'),
                        'routeParams': app.request.attributes.get('_route_params') | json_encode,
                        'locale': 'fr'} ) }}">
                        {{ 'navbar.french' | trans }}
                    </a>
                    <a class="dropdown-item {% if app.request.locale == "en" %}active {% endif %}"
                       href="{{ path('set_locale', {
                        'lastRoute': app.request.attributes.get('_route'),
                        'routeParams': app.request.attributes.get('_route_params') | json_encode,
                        'locale': 'en'} ) }}">{{ 'navbar.english' | trans }}</a>
                </div>
            </li>
        </ul>
            <div class="row cutom-right-animation form-inline my-2 my-lg-0">
                <div class="input-group md-form form-sm form-2 pl-0">
                    {{ render(path('project_search')) }}
                </div>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="navbar-nav nav-item mx-2">
                        <a class="nav-link" href={{ path('logout') }}>{{ 'security.logout' | trans }}</a>
                    </div>
                {% else %}
                    <div class="navbar-nav nav-item mx-5">
                        <a class="nav-link" href={{ path('login') }}>{{ 'security.login' | trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
</nav>

