{% extends 'base.html.twig' %}

{% block title %}{{ 'project.list.title' | trans }}{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-4">{{ 'project.list.super' | trans }}</h1>
        <div class="text-center mb-3">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-success" href={{ path('project_new') }}><i class="fas fa-plus"></i> {{ 'navbar.addProject' | trans }}</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for project in  projectList %}
            <div class="col-md-4 mt-4">
                <div class="card profile-card-5">
                    <div class="card-img-block">
                        <img class="card-img-top" src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="project-img" style="width: 100%; height:auto;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ project.title }}
                        </h5>
                        <p class="card-text">
                            {{ project.introduction }}
                        </p>
                        <div class="projects-links d-flex justify-content-between">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path("project_edit", {
                                    'id' : project.id
                                }) }}" class="btn btn-outline-info">
                                    <i class="fas fa-edit"></i> {{ 'project.edit' | trans }}
                                </a>
                                <a href="{{ path("project_delete", {
                                    'id' : project.id
                                }) }}" class="btn btn-outline-info">
                                    <i class="fas fa-trash-alt"></i> {{ 'project.delete' | trans }}
                                </a>
                            {% else %}
                                <a href="{{ project.github}}" target="_blanc" class="btn btn-outline-info">
                                    <i class="fab fa-github"></i> {{ 'project.github' | trans }}
                                </a>
                                <a href="{{ path("project_show", {
                                    'id' : project.id
                                }) }}" class="btn btn-outline-info">
                                    <i class="fas fa-info-circle"></i> {{ 'project.list.more' | trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
