{% extends 'base.html.twig' %}

{% block title %}{{ 'project.list.title' | trans }}{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-4">{{ 'project.list.super' | trans }}</h1>
        <div class="text-center mb-3">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-success" href={{ path('project_new') }}><i class="fas fa-plus"></i> {{ 'navbar.addProject' | trans }}</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for project in  projectList %}
            <div class="col-md-4 mt-4  card-animation">
                <div class="card profile-card-5">
                    <div class="card-img-block">
                        <img class="card-img-top" src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="project-img" style="width: 100%; max-height: 190px">
                    </div>
                    <div class="card-body">
                        <div class="row text-inline ml-1">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h3 class="card-title">
                                        {{ project.title }}
                                    </h3>
                                </li>
                                <li class="list-inline-item">
                                    <h5 class="card-title">
                                        ( {{ project.technologies }} )
                                    </h5>
                                </li>
                            </ul>
                        </div>
                        <p class="card-text">
                            {{ project.introduction }}
                        </p>
                        <div class="projects-links row mt-5 ml-1">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="z-index">
                                    <a href="{{ path("project_edit", {
                                        'id' : project.id
                                    }) }}" class="btn btn-outline-info">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                                <div class="z-index">
                                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#deleteModal">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            {% endif %}
                                <button type="button" class="btn btn-outline-info stretched-link" data-toggle="modal" data-target="#{{project.slug}}">
                                    <i class="fas fa-info-circle"></i>
                                </button>
                        </div>
                    </div>
                </div>
            </div>
                {% include 'includes/project_modal.html.twig' %}
                {% include 'includes/delete_validation_modal.html.twig' %}
            {% endfor %}
        </div>
        <div class="pagination my-5">
            {{ knp_pagination_render(projectList) }}
        </div>
    </div>
{% endblock %}
