<div>
    <h1>Objet: {{ contact.object }}</h1>
</div>
<div></div>
<div>
    Message de : {{ contact.firstname }} {{ contact.lastname }}
    <br>
    {{ contact.message }}
    <br>
    Repondre à : {{ contact.email }}
</div>